@font-face {
	font-family: 'PP Neue Montreal';
	src: url('/fonts/pp-neue-montreal-regular.woff2') format('woff2'),
		url('/fonts/pp-neue-montreal-regular.woff') format('woff');
}

:root {
	--h: 50deg;
	--bg-1: hsl(var(--h), 4%, 94%);
	--bg-2: hsl(var(--h), 4%, 100%);
	--bg-3: hsl(var(--h), 10%, 84%);

	--bor-1: hsl(var(--h), 4%, 4%);

	--txt-1: hsl(0deg, 0%, 10%);
	--acc-1: hsl(230, 100%, 50%);

	--font-neue-montreal: 'PP Neue Montreal', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
		Cantarell, Noto Sans, sans-serif;

	--border: 1px solid var(--bor-1);

	--spacing: var(--size-2);
	--header-height: var(--size-8);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--bg-1);
	color: var(--txt-1);
	font-family: var(--font-neue-montreal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 400;
}

p {
	margin: 0;
}

a {
	color: var(--acc-1);
	font-family: var(--font-mono);
	text-transform: uppercase;
	text-decoration: underline;
	text-underline-offset: 2px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
