@font-face {
	font-family: 'Sligoil';
	src: url('/fonts/sligoil-micro.woff2') format('woff2'),
		url('/fonts/sligoil-micro.woff') format('woff');
}

:root {
	--bg-1: hsl(40, 23%, 90%);
	--bg-2: #ffffff;
	--bg-3: #303030;

	--bor-1: hsl(0, 0%, 72%);

	--txt-1: #303030;
	--acc: hsl(238, 100%, 52%);

	--font-sligoil: 'Sligoil', Inconsolata, ui-monospace, monospace;

	--border: 1px solid var(--bor-1);

	--spacing: var(--size-2);
	--header-height: var(--size-8);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--bg-1);
	color: var(--txt-1);
	font-family: var(--font-sligoil);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: var(--font-sans);
	font-weight: 400;
}

p {
	margin: 0;
}

a {
	color: var(--acc);
	text-transform: uppercase;
	text-decoration: underline;
	text-underline-offset: 2px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
